.form h3,
.form input, .text-danger, .form select {
    font-family: var(--font-family-Patrick);
}

.form input, .form select {
    outline: none;
    cursor: pointer;
}

.form button[type='submit'] {
    font-family: var(--font-family-Dekko), monospace;
    background-color: var(--secondary-color);
}

.form button[type='submit']:hover {
    background-color: var(--primary-color);
}