.top-block,
.bottom-block {
    height: 25%;
}

.mid-block {
    height: 50%;
}

.mid-title{
    word-spacing: 5px;
    letter-spacing: 5px;
    font-size: 2.5rem;
}

.bottom-link {
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    
    letter-spacing: 2px;
    font-size: 1.5rem;

    cursor: pointer;
    transition: 500ms linear;
}

.bottom-link:hover {
    border-color: var(--secondary-color);
}

/* Repeating styles */
.bottom-link,
.mid-title {
    font-family: var(--font-family);
}