.top-block,
.bottom-block {
    height: 25%;
}

.mid-block {
    height: 50%;
}

.top-link,
.bottom-link {
    border-radius: 20px;
    background-color: var(--primary-color);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 22px;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    transition: 500ms linear;
}

.top-link:hover,
.bottom-link:hover {
    border-color: var(--secondary-color);
}

/* Repeating styles */
.top-link, .bottom-link, .mid-title{
    font-family: var(--font-family);
}