@media screen and (max-width: 768px) {

  .table-wrapper {
    background-color: var(--primary-color);
  }

  table>tbody>tr {
    gap: 1em;
    background-color: var(--secondary-color);
  }

  .table-wrapper table tr:nth-child(even) {
    background-color: var(--secondary-color);
  }


  table tbody td {
    font-size: 14px;
  }

  table tbody td span {
    text-align: center;
  }

  table tbody td:before {
    content: attr(data-name);
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    color: #fff;
  }

  tbody>tr>td:first-child {
    -webkit-order: 3;
    flex-basis: 15%;
    text-align: center;
  }

  tbody>tr>td:nth-child(2) {
    -webkit-order: 1;
    flex-basis: 40%;
    flex-grow: 1;
  }

  tbody>tr>td:nth-child(3) {
    -webkit-order: 2;
    flex-basis: 30%;
    flex-grow: 1;
  }

  tbody>tr>td:nth-child(4) {
    -webkit-order: 4;
    flex-basis: 30%;
    flex-grow: 1;
  }

  tbody>tr>td:nth-child(5) {
    -webkit-order: 5;
    flex-basis: 35%;
  }

  tbody>tr>td:nth-child(6) {
    -webkit-order: 6;
    flex-basis: 15%;
  }


  /* input */
  tbody>tr>td:first-child:before {
    display: none;
  }


  span.program {
    width: calc(var(--default-width-em) + 6em);
  }


  tbody>tr>td:first-child input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
  }

  tbody>tr>td:first-child input::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    content: '+';
    color: #fff;
    border: none;
    background-color: transparent;
    font-size: 24px;
  }


  input[type="checkbox"]:checked::before {
    background-image: none;
    content: '-';
    border-radius: 50%;
  }

  .checked-border:before {
    display: none;
  }

  .loader-wrapper,
  .empty-data__wrapper {
    background-color: transparent;
  }

  .loader-wrapper .loader-content .circle {
    background-color: #fff;
  }

  .loader-wrapper .loader-content .loader-text,
  .empty-data__wrapper .empty-data__text {
    color: #fff;
  }

  .form-overlay .form-popup {
    height: auto;
  }
}

@media screen and (min-width:769px) and (max-width: 1200px) {

  .table-wrapper {
    background-color: var(--primary-color);
  }

  table>tbody>tr {
    background-color: var(--secondary-color);

    /* medium only */
    gap: .6em;
    justify-content: center;
  }

  .table-wrapper table tr:nth-child(even) {
    background-color: var(--secondary-color);
  }

  table tbody td {
    font-size: 18px;
  }

  table tbody td span {
    text-align: center;
  }

  table tbody td:before {
    content: attr(data-name);
    width: 100%;
    display: block;
    text-transform: uppercase;

    /* medium only */
    font-size: 16px;


    letter-spacing: .1em;
    color: #fff;
  }

  tbody>tr>td:first-child {
    -webkit-order: 3;
    flex-basis: 15%;
  }

  tbody>tr>td:nth-child(2) {
    -webkit-order: 1;
    flex-basis: 45%;
    flex-grow: 1;
  }

  tbody>tr>td:nth-child(3) {
    -webkit-order: 2;
    flex-basis: 35%;
    flex-grow: 1;
  }

  tbody>tr>td:nth-child(4) {
    -webkit-order: 4;
    flex-basis: 45%;
    flex-grow: 1;
  }

  tbody>tr>td:nth-child(5) {
    -webkit-order: 5;
    flex-basis: 35%;
    flex-grow: 1;
  }

  tbody>tr>td:nth-child(6) {
    -webkit-order: 6;
    flex-basis: 15%;
  }


  /* input */
  tbody>tr>td:first-child:before {
    display: none;
  }


  span.program {
    width: calc(var(--default-width-em) + 6em);
  }


  tbody>tr>td:first-child input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
  }

  tbody>tr>td:first-child input::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '+';
    color: #fff;
    border: none;
    background-color: transparent;
    text-align: center;

    /* medium only */
    font-size: 1.5em;
  }


  input[type="checkbox"]:checked::before {
    background-image: none;
    content: '-';
    border-radius: 50%;
  }

  .checked-border:before {
    display: none;
  }

  .loader-wrapper,
  .empty-data__wrapper {
    background-color: transparent;
  }

  .loader-wrapper .loader-content .circle {
    background-color: #fff;
  }

  .loader-wrapper .loader-content .loader-text,
  .empty-data__wrapper .empty-data__text {
    color: #fff;
  }

  .form-overlay .form-popup {
    height: auto;
  }
}