/* repeating components' styles */
.shared--header .btn--open::before,
.small-screen .btn--open::before,
.shared--header .btn--open::after,
.small-screen .btn--open::after {
    content: "";
    display: block;

    height: calc(var(--default-height-em) - 0.875em);

    background-color: var(--accent-color);
}



/* Shared global */
.shared--header {
    background-color: var(--primary-color);
}

.shared--header .medium-screen-link .icon,
.shared--header .large-screen-link .icon {
    transition: transform 1s;
}

.shared--header .medium-screen-link .icon:hover,
.shared--header .large-screen-link .icon:hover {
    transform: scale(1.2);
}



/* Large screens && medium screens */
.shared--header .large-screen-title h2,
.shared--header .medium-screen-title h2 {
    letter-spacing: calc(var(--default-letter-spacing) + 1px);
}



/* Medium screens && small screens */
.shared--header .btn--open::before,
.small-screen .btn--open::before {
    width: calc(var(--default-width-em) + 1em);
    margin-bottom: 5px;
}

.shared--header .btn--open::after,
.small-screen .btn--open::after {
    width: calc(var(--default-width-em) + 0.25em);
}

.nav-block {
    backdrop-filter: blur(15px);
    background: rgba(10, 10, 0, 0.30);
    -webkit-backdrop-filter: blur(15px);
}

.nav-block a {
    letter-spacing: calc(var(--default-letter-spacing) + 4px);
}

.nav-block a::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    height: calc(var(--default-height-em) - .95em);

    background-color: var(--active-action-color);

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.nav-block a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-block .btn--close {
    font-size: calc(var(--default-font-size) + 2rem);

}



/* Small screens */
/* .small-screen {
    justify-content: space-between;
} */

.small-screen::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    backdrop-filter: blur(10px);
}