/* 
.screen-sm {
    position: relative;
}

.screen-sm::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
    backdrop-filter: blur(10px);
}

.nav-btn {
    position: relative;

    z-index: 1;

    background: none;
    border: none;

    cursor: pointer;
}

.btn--open {
    position: relative;
}

.btn--open::before {
    content: "";

    display: block;

    width: 30px;
    height: 2px;
    margin-bottom: 5px;

    background-color: #fff;

    transition: transform 0.3s ease;
}

.btn--open::after {
    content: "";

    display: block;

    width: 20px;
    height: 2px;

    background-color: #fff;

    transition: transform 0.3s ease;
}

.btn--close {
    content: '';

    position: absolute;
    top: -1%;
    right: 0;

    font-size: 3rem;

    transition: transform 0.3s;
}

.nav-block {
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-block a {
    position: relative;

    font-family: var(--font-family);
    letter-spacing: 5px;
}

.nav-block a::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: var(--primary-color);

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.nav-block a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.responsive-nav {
    display: flex;
}


.top-link {
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color);
    border-radius: 20px;

    letter-spacing: 2px;
    font-size: 1.5rem;

    cursor: pointer;
    transition: 500ms linear;
}

.top-link:hover {
    border-color: var(--secondary-color);
}


.top-link {
    font-family: var(--font-family);
} */

/* shared global */
.shared--header {
    background-color: var(--primary-color);
}


.shared--header .medium-screen-link .icon,
.shared--header .large-screen-link .icon {
    transition: transform 1s;
}

.shared--header .medium-screen-link .icon:hover,
.shared--header .large-screen-link .icon:hover {
    transform: scale(1.2);
}


/* large screens && medium screens */
.shared--header .large-screen-title,
.shared--header .medium-screen-title {
    flex-grow: 1;
}

.shared--header .large-screen-title h2,
.shared--header .medium-screen-title h2 {
    letter-spacing: 2px;
}

/* medium screens && small screens */
.shared--header .btn--open::before {
    content: "";

    display: block;

    width: 30px;
    height: 2px;
    margin-bottom: 5px;

    background-color: var(--accent-color);
}

.shared--header .btn--open::after {
    content: "";

    display: block;

    width: 20px;
    height: 2px;

    background-color: var(--accent-color);
}

.btn--close {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    font-size: 3rem;
}

.nav-block {
    position: fixed;
    top: 0;
    left: 0;

    display: none;

    backdrop-filter: blur(15px);
    background: rgba(10, 10, 0, 0.30);
    -webkit-backdrop-filter: blur(15px);
}

.show-nav {
    display: flex;
}

.nav-block a {
    font-family: var(--font-family);
    letter-spacing: 5px;
}

.nav-block a::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: var(--primary-color);

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.nav-block a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* small screens */
.small-screen {
    position: relative;
    z-index: 1;
}

.small-screen::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
    backdrop-filter: blur(10px);
}