@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Patrick+Hand&family=Dekko&family=Fira+Mono:wght@500;700&display=swap');

:root {

  --font-family-Fira: Fira Mono;
  --font-family-Dekko: Dekko;
  --font-family-Patrick: Patrick Hand;
  --font-family-Kalam: Kalam;

  --height: 100%;
  --width: 100%;

  --default-width-em: 1em;
  --default-height-em: 1em;

  --default-letter-spacing: 1px;
  --default-font-size: 1rem;

  /* v2 */
  --primary-color: #211f2c;
  --secondary-color: #3C3B4B;
  --accent-color: #FFF;
  --active-action-color: #F36C6C;

  --language-colors-JavaScript-primary: #FFFED6;
  --language-colors-JavaScript-secondary: #F1C810;

  --language-colors-Java-primary: #DDEDDC;
  --language-colors-Java-secondary: #2FA331;

  --language-colors-PHP-primary: #D1E8F6;
  --language-colors-PHP-secondary: #12AAF3;

  --language-colors-Python-primary: #111111;
  --language-colors-Python-secondary: #b5b5ff;

  --language-colors-Tester-primary: #E0A7A7;
  --language-colors-Tester-secondary: #B04949;

  --add-form-primary-color: #6467B6;

  --scrollbar-color: #DE3434;

  /* v1 */
  --bg-color: #2f48588e;
  --txt-color: #d49801;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 100%;
  font-family: var(--font-family-Fira), monospace;
  font-weight: 700;
}



body.swal2-height-auto {
  height: 100% !important;
}

body {
  margin: 0;
  padding: 0;

  background-image: url(../../public/assets/app/background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

body::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  min-height: var(--height);

  z-index: -1;
  opacity: .6;

  background-image: linear-gradient(to right bottom, #000, #1c0d0d, #2c150f, #3a1f0c, #422c059b, #523f059b, #5f54019b, #686b009b, #868d0086, #a3b20086, #c2d8004f, #ddff004f);
}

.container-fluid * {
  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;
}

.top-block,
.bottom-block {
  flex: 1;
}

.mid-block {
  flex: 6;

  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}


/* repeating global styles */
html,
body,
body::before,
#root,
.small-screen::before,
.checked-border:before {
  height: var(--height);
}

body::before,
.nav-block a::after,
.small-screen::before {
  width: var(--width);
}

.form-popup,
.select-input__select option:checked:hover,
.table-nav-block .page-links,
.add-control,
.popup,
input[type="checkbox"]:checked::before,
.filter-control:hover svg,
.filter-control:hover .filter-input:valid svg {
  background-color: var(--primary-color);
}

.form-popup__body--form .label input,
.select-input__select,
.loader-wrapper .loader-text {
  font-family: var(--font-family-Dekko);
}

.select-input__select,
.edit-rows select,
input[type="checkbox"] {
  cursor: pointer;
}