@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Patrick+Hand&family=Dekko&family=Fira+Mono:wght@500;700&display=swap');

:root {
  --primary-color: #211f2c;
  --secondary-color: #3C3B4B;
  --accent-color: #FFF;
  --active-action-color: #DE3434;

  --language-colors-JavaScript-primary: #FFFED6;
  --language-colors-JavaScript-secondary: #F1C868;

  --language-colors-Java-primary: #DDEDDC;
  --language-colors-Java-secondary: #2FA331;

  --language-colors-PHP-primary: #D1E8F6;
  --language-colors-PHP-secondary: #12AAF3;

  --language-colors-Python-primary: #3C3B4B;
  --language-colors-Python-secondary: #111111;

  --language-colors-Tester-primary: #E0A7A7;
  --language-colors-Tester-secondary: #B04949;

  --font-family-Fira: Fira Mono;
  --font-family-Dekko: Dekko;
  --font-family-Patrick: Patrick Hand;
  --font-family-Kalam: Kalam;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 100%;
  font-family: var(--font-family-Fira), monospace;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;

  height: 100vh;

  background-image: url(../../public/assets/app/background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  min-height: 100%;
  width: 100%;

  z-index: -1;
  opacity: .6;

  background-image: linear-gradient(to right bottom, #000, #1c0d0d, #2c150f, #3a1f0c, #422c059b, #523f059b, #5f54019b, #686b009b, #868d0086, #a3b20086, #c2d8004f, #ddff004f);
}

#root {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-fluid * {
  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;
}

.top-block,
.bottom-block {
  flex: 1;
}

.mid-block {
  flex: 5;

  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}