/* repeating components' styles */
.form-popup__body--name span:first-of-type,
.form-popup__body--form .label span,
.select-input__select option:checked:hover,
.select-input__label,
.select-input__select:valid+.select-input__label,
.select-input__select:focus:valid+.select-input__label,
.select-input__select:focus+.select-input__label {
    color: var(--add-form-primary-color);
}

.form-popup__header span::before,
.form-popup__body--name span:last-of-type::after,
.select-input__select option {
    background-color: var(--add-form-primary-color);
}

.form-popup__header span,
.form-popup__body--form .label span,
.select-input__label {
    letter-spacing: calc(var(--default-letter-spacing) + 1px);
}

.select-input__label,
.form-popup__body--form .label span,
.error-message {
    font-size: calc(var(--default-font-size) - 0.25rem);
}

.form-popup__body--form .label input,
.select-input__select {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: var(--add-form-primary-color);
    outline: none;
    text-indent: 2px;
}




.form-overlay {
    background: rgba(0, 0, 0, 0.8);
}


/* Main container */
.form-popup {
    height: calc(var(--height) - 45%);
}

.form-popup__body--name {
    flex-basis: 30%;
}

.form-popup__body--form {
    flex-basis: 70%;
}



/* Header */
.form-popup__header span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
    width: calc(var(--default-width-em) + 0.2em);
    aspect-ratio: 1;
    border-radius: 50%;
}



/* Body name */
.form-popup__body--name span {
    letter-spacing: calc(var(--default-letter-spacing) + 3px);
    width: max-content;
}

.form-popup__body--name span:last-of-type::after {
    content: '';
    position: absolute;
    width: calc(var(--default-width-em) - 0.6em);
    aspect-ratio: 1;
    border-radius: 50%;
    bottom: 5px;
    right: -8px;
}

.form-popup__body--add-button {
    width: max-content;
    border: 2px solid var(--add-form-primary-color);
    transition: .5s all;
}

.form-popup__body--add-button:hover {
    border-color: var(--accent-color);
}



/* Main form */
.form-popup__body--form div input,
.form-popup__body--form label:nth-child(n+2) input,
.form-popup__body--form .select-input select {
    width: calc(var(--default-width-em) + 11.5em);
}

.form-popup__body--form .label span {
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}


.label input:focus+span,
input:not(:placeholder-shown)+span {
    opacity: 1;
    transform: translateY(-100%) translateX(0);
}

/* For IE Browsers*/
.label input:focus+span,
.label input:not(:-ms-input-placeholder)+.label span {
    transform: translateY(-100%) translateX(0);
}

.select-input__select option {
    color: var(--primary-color);
}

.select-input__select option:checked:hover {
    box-shadow: 0 0 10px 100px var(--add-form-primary-color) inset;
}

.select-input__label {
    pointer-events: none;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transform-origin: 0 0;
    will-change: transform;
}

.select-input__select:valid+.select-input__label,
.select-input__select:focus:valid+.select-input__label,
.select-input__select:focus+.select-input__label {
    transform: translateY(-100%) translateX(0);
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
    -webkit-text-fill-color: var(--accent-color);
    caret-color: var(--accent-color);
    -webkit-caret-color: var(--accent-color);
}



/* Errors */
.error-message {
    border: 1px solid var(--active-action-color);
    color: var(--active-action-color);
    white-space: nowrap;
}

.error-message::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--active-action-color) transparent;
    transform: translateX(-50%);
}