h3,
input {
    font-family: var(--font-family-Patrick);
}

input {
    border-radius: 10px;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: var(--secondary-color);
}

select {
    border-radius: 10px;
    padding: 0.8em;
    outline: none;
    text-align: center;
    cursor: pointer;
}

input[type="date"],
select {
    color: grey;
}

button[type='submit'] {
    font-family: var(--font-family-Dekko);
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

button[type='submit']:hover{
    box-shadow: none;
    background-color: var(--primary-color);
    color: var(--accent-color);
}

.text-danger {
    position: relative;
    font-weight: 600;
    font-size: 0.9em;
    font-family: 'Patric Hand';
}

.text-danger:focus-within input,
.text-danger:focus-within select {
    color: #dc3546da;
}
