.mid-title {
    word-spacing: 5px;
    letter-spacing: 5px;
    font-size: 2.5rem;
}

.top-link,
.bottom-link,
.mid-title {
    font-family: var(--font-family-Fira);
}

.top-link,
.bottom-link {
    background-color: var(--primary-color);
    letter-spacing: 2px;
    font-size: 1.5rem;

    cursor: pointer;
    transition: 500ms linear;
}

.version-change {
    width: 60px;
    height: 60px;
    transform: translate(-40%, 40%);
    border-radius: 20% 5% 20% 5%;
    background-color: var(--primary-color);
    transition: 500ms linear;
}

.particle-version {
    top: 60%;
    left: 40%;
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color);
    filter: drop-shadow(0 0 10px var(--accent-color));
    animation: particleUp 3s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes particleUp {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: -100%;
        transform: scale(0.5);
    }
}