.card-row span {
    color: var(--txt-color);
}

.btn {
    cursor: pointer;
    transition: 500ms linear;
    width: 3.5em;
    height: 3em;
}

svg {
    transition: 600ms linear;
}

.delete-text,
.edit-text {
    font-family: var(--font-family-Dekko), monospace;
    opacity: 0;
    bottom: -1em;
    font-size: 1em;
    transition: 200ms linear;
}

.delete-text {
    right: 0;
}

.edit-text {
    left: 0;
}

.btn:hover {
    transform: scale(1.2, 1.2);
}

.btn:hover>.delete-icon,
.btn:hover>.delete-text {
    transform: rotate(-30deg);
}

.btn:hover>.edit-icon,
.btn:hover>.edit-text {
    transform: rotate(30deg);
}


.btn:hover>.delete-text {
    right: 3em;
}

.btn:hover>.edit-text {
    left: 3em;
}

.btn:hover>.delete-text,
.btn:hover>.edit-text {
    opacity: 1;
    bottom: -0.5em;
}