.search {
    transform: translateX(20vw);
}

.search input {
    background-color: var(--bg-color);
    font-size: 0.6em;
    outline: none;
}

.navItem {
    background-color: var(--bg-color);
    color: var(--accent-color);
    font-size: 1em;
    transition: .3s linear;
    width: 12em;
}

.navItem:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
}