/* Left border */
.checked-border:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(var(--default-width-em) - 0.75em);
    border-radius: 6px 0 0 6px;
    background-color: var(--active-action-color);
}

/* Main input */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: calc(var(--default-width-em) + 0.4em);
    height: calc(var(--default-height-em) + 0.4em);
}

input[type="checkbox"]::before {
    content: "";
    display: inline-block;

    width: calc(var(--default-width-em) + 0.5em);
    height: calc(var(--default-height-em) + 0.5em);

    text-align: center;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    transition: 200ms background-color ease-in-out;
    background-color: var(--accent-color);
}


input[type="checkbox"]:checked::before {
    background-image: url('../../../../public/assets/app/check.png');
    background-size: cover;
    color: var(--accent-color);
}

/* Program column */
span.program {
    width: calc(var(--default-width-em) + 9em);
}

span.program::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(5%, -50%);
    width: calc(var(--default-width-em) - 0.2em);
    aspect-ratio: 1;
    border-radius: 50%;
}

/* Program language color */
.program[data-language="JavaScript"]::before {
    background-color: var(--language-colors-JavaScript-secondary);
}

.program[data-language="Java"]::before {
    background-color: var(--language-colors-Java-secondary);
}

.program[data-language="PHP"]::before {
    background-color: var(--language-colors-PHP-secondary);
}

.program[data-language="Python"]::before {
    background-color: var(--language-colors-Python-secondary);
}

.program[data-language="Tester"]::before {
    background-color: var(--language-colors-Tester-secondary);
}