/* repeating components' styles */
.table-nav-block .page-links.active,
.table-wrapper,
.left-section .checked-count span,
.right-section .action-button:last-of-type,
.loader-content .circle {
  background-color: var(--secondary-color);
}


.table-wrapper table tbody,
.table-wrapper table thead {
  scrollbar-gutter: stable;
}



/* Tables' navigation */
.table-nav-block .page-links {
  font-size: var(--default-font-size);
  width: min-content;
}

.table-nav-block .page-links:first-child {
  border-top-left-radius: 10px;
}

.table-nav-block .page-links:nth-child(2),
.table-nav-block .page-links:last-child {
  margin-left: -10px;
  border-bottom-left-radius: 10px;
}

.table-nav-block .page-links:last-child {
  border-top-right-radius: 10px;
}

.table-nav-block .page-links:last-child::after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 0;
  height: calc(var(--default-height-em) - 0.4em);
  aspect-ratio: 1;
  background-image: radial-gradient(circle at top right, transparent 10px, var(--primary-color) 0);
}

.table-nav-block .page-links.active {
  border-bottom-left-radius: 10px;
}

.table-nav-block .page-links.active::after {
  background-image: radial-gradient(circle at top right, transparent 10px, var(--secondary-color) 0);
}



/* Main Table */
.table-wrapper {
  border-radius: 0 20px 20px 20px;
}

.table-wrapper table {
  border-spacing: 0;
  border-collapse: collapse;
  user-select: none;
}

.table-wrapper table * {
  letter-spacing: var(--default-letter-spacing);
}

.table-wrapper table tbody {
  scrollbar-color: var(--scrollbar-color) transparent;
}

.table-wrapper table tr:nth-child(even) {
  background: #FAFAFC;
}

.table-wrapper th,
.table-wrapper td {
  display: inline-block;
  width: calc(var(--width) - 86%);
  font-weight: 500;
}

.table-wrapper th:first-child,
.table-wrapper td:first-child {
  width: calc(var(--width) - 92%);
}

.table-wrapper th:nth-child(2),
.table-wrapper th:nth-child(5),
.table-wrapper td:nth-child(2),
.table-wrapper td:nth-child(5) {
  width: calc(var(--width) - 75%);
}



/* Tables' controls */
.filter-control {
  transition: all 1s;
  animation-fill-mode: forwards
}

.filter-control .filter-input {
  outline: 0;
  opacity: 0;
  transition: opacity 1s linear;

  text-indent: 10px;
}

.filter-control svg {
  left: 5%;
  transform: translateY(-50%);
  transition: all 1s;
}

.filter-control:hover .filter-input,
.filter-control:hover .filter-input:valid {
  opacity: 1;
}

.filter-control:hover svg,
.filter-control:hover .filter-input:valid svg {
  color: var(--accent-color);
  z-index: 1;
  left: 100%;
  transform: translate(-100%, -50%);
}

.right-section .action-button {
  width: calc(var(--default-width-em) + 7em);
  padding: .6em 0;
}



/* Loading API section */
.loader-content {
  width: calc(var(--default-width-em) + 8em);
  height: calc(var(--default-height-em) + 4em);
}

.loader-content .circle {
  width: var(--default-width-em);
  height: calc(var(--default-height-em) - 0.05em);
  left: 15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: calc(var(--default-height-em) - 0.68em);
    border-radius: 50px 50px 20px 20px;
    transform: scaleX(1.7);
  }

  40% {
    height: 15px;
    height: calc(var(--default-height-em) - 0.05em);
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.loader-content .circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.loader-content .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.loader-text {
  letter-spacing: calc(var(--default-letter-spacing) + 5px);
  color: var(--secondary-color);
}